<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">首頁</h1>
  </ion-header-bar>
  <ion-content class="bg-muted">
    <div class="card">
      <div class="item item-image item-text-wrap">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">

          <ion-slide ng-repeat="item in banner">
            <img ng-src="{{item.pic}}" style="height:100px;">
          </ion-slide>


        </ion-slide-box>

      </div>
    </div>
    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">本週精選劇本</label>

      <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

      <ion-scroll direction="x" class="wide-as-needed">

        <div class="thumb-xl padder-lg" ng-repeat="item in indexSpecial">
          <img ng-src="{{item.cover_pic}}" class="thumb-xl">
          <p>{{item.place}}</p>
        </div>


      </ion-scroll>

    </div>

    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">熱門景點</label>

      <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexHot">
          <img ng-src="{{item.cover_pic}}" class="thumb-xl">
          <p>{{item.place}}</p>
        </div>

      </ion-scroll>

    </div>


    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">日本</label>

      <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexJP">
          <img ng-src="{{item.cover_pic}}" class="thumb-xl">
          <p>{{item.place}}</p>
        </div>

      </ion-scroll>

    </div>

    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">韓國</label>

      <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexKR">
          <img ng-src="{{item.cover_pic}}" class="thumb-xl">
          <p>{{item.place}}</p>
        </div>
      </ion-scroll>

    </div>
  </ion-content>
</ion-view>
