<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">首頁</h1>
    <!-- <button class="button button-icon ion-android-funnel" ng-click="showFilterPopup()"></button> -->
    <button class="button fa fa-search" style="font-size: 24px;" ng-click="showFilterPopup()"></button>
  </ion-header-bar>
  <ion-content class="bg-muted">
    <div class="card">
      <div class="item item-image item-text-wrap">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">

          <ion-slide ng-repeat="item in banner">
            <img ng-src="{{item.pic}}" style="height:100px;">
          </ion-slide>


        </ion-slide-box>

      </div>
    </div>
    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;">本週精選劇本</label>

      <!-- <label type="text" class="col text-right text-sm" style="color:green;">更多</label> -->

      <ion-scroll direction="x" class="wide-as-needed">

        <div class="thumb-xl padder-lg" ng-repeat="item in indexSpecial" ng-click="openDetail(item.list_id)">
          <img ng-src="{{item.cover_pic_home}}" class="thumb-xl padding-right">
          <p>{{item.place}}</p>
        </div>


      </ion-scroll>

    </div>

    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;">熱門景點</label>

      <!-- <label type="text" class="col text-right text-sm" style="color:green;">更多</label> -->

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexHot" ng-click="openDetail(item.list_id)">
          <img ng-src="{{item.cover_pic_home}}" class="thumb-xl padding-right">
          <p>{{item.place}}</p>
        </div>

      </ion-scroll>

    </div>


    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;">日本</label>

      <!-- <label type="text" class="col text-right text-sm" style="color:green;">更多</label> -->

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexJP" ng-click="openDetail(item.list_id)">
          <img ng-src="{{item.cover_pic_home}}" class="thumb-xl padding-right">
          <p>{{item.place}}</p>
        </div>

      </ion-scroll>

    </div>

    <div class="card">

      <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;">韓國</label>

      <!-- <label type="text" class="col text-right text-sm" style="color:green;">更多</label> -->

      <ion-scroll direction="x" class="wide-as-needed">
        <div class="thumb-xl padder-lg" ng-repeat="item in indexKR" ng-click="openDetail(item.list_id)">
          <img ng-src="{{item.cover_pic_home}}" class="thumb-xl padding-right">
          <p>{{item.place}}</p>
        </div>
      </ion-scroll>

    </div>
  </ion-content>
</ion-view>
