<ion-view hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">首頁</h1>
  </ion-header-bar>
  <ion-content class="bg-muted">
    <div class="card">
      <div class="item item-image item-text-wrap">
        <ion-slide-box auto-play="true" does-continue="true" slide-interval="2000">
          <ion-slide>
            <img ng-src="img/banner1.jpg" style="height:100px;">

          </ion-slide>
          <ion-slide>
            <img ng-src="img/banner2.jpg" style="height:100px;">

          </ion-slide>
          <ion-slide>
            <img ng-src="img/banner3.png" style="height:100px;">

          </ion-slide>
        </ion-slide-box>


      </div>
      </div>
      <div class="card">

        <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">本週精選劇本</label>

        <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

        <ion-scroll direction="x" class="wide-as-needed">
          <div class="thumb-xl padder-lg">
            <img ng-src="img/okinawa.jpg" class="thumb-xl">
            <p>沖繩</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo1.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo2.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/kr1.jpg" class="thumb-xl">
            <p>首爾</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka4.jpg" class="thumb-xl">
            <p>大板</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka3.jpg" class="thumb-xl">
            <p>大阪</p>
          </div>

        </ion-scroll>

      </div>

      <div class="card">

        <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">熱門景點</label>

        <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

        <ion-scroll direction="x" class="wide-as-needed">
          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka3.jpg" class="thumb-xl">
            <p>大阪</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo2.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo3.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo4.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/okinawa.jpg" class="thumb-xl">
            <p>沖繩</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka4.jpg" class="thumb-xl">
            <p>大阪</p>
          </div>

        </ion-scroll>

      </div>


      <div class="card">

        <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">日本</label>

        <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

        <ion-scroll direction="x" class="wide-as-needed">
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo3.jpg" class="thumb-xl">
            <p>東京</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/tokyo4.jpg" class="thumb-xl">
            <p>東京迪士尼</p>
          </div>

          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka4.jpg" class="thumb-xl">
            <p>大阪</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/okinawa.jpg" class="thumb-xl">
            <p>沖繩</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/osaka3.jpg" class="thumb-xl">
            <p>大阪</p>
          </div>

        </ion-scroll>

      </div>

      <div class="card">

        <label type="text" class="col text-left font-bold text-base" style="color:dodgerblue;  position: fixed;">韓國</label>

        <label type="text" class="col text-right text-sm" style="color:green;">更多</label>

        <ion-scroll direction="x" class="wide-as-needed">


          <div class="thumb-xl padder-lg">
            <img ng-src="img/kr1.jpg" class="thumb-xl">
            <p>首爾</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/kr3.jpg" class="thumb-xl">
            <p>釜山</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/kr7.jpg" class="thumb-xl">
            <p>清潭洞</p>
          </div>
          <div class="thumb-xl padder-lg">
            <img ng-src="img/kr9.jpg" class="thumb-xl">
            <p>江原道</p>
          </div>

        </ion-scroll>

      </div>
  </ion-content>
</ion-view>
