<ion-view view-title="劇本日程">

  <ion-header-bar class="bar-calm">
    <div class="h1 title">劇本日程</div>
  </ion-header-bar>
  <ion-content class="bg-muted">
    <!-- has-subheader -->
    <label class="item-input-wrapper light-bg">

    </label>

    <div class="card" ui-sref="tab.mydramalistLocation({id:item.sdid})" ng-repeat="item in dateList" on-hold="onHolds(item.sdid)" >
      <div class="item item-text-wrap">
          <h2><b>{{item.title}}</b></h2>
        <h3><b>{{item.date}}</b></h3>
        <br/>
        <!-- <h5 class="text-right text-sm">今日花費:0 代購利潤:0</h5> -->
      </div>
    </div>

  </div>
  </ion-content>

  <div class="button-fab calm-bg box-shadow">
    <i class="icon ion-plus" ng-click="showAddDatePopup()"></i>
  </div>
</ion-view>
