<ion-modal-view>
  <ion-header-bar class="bar-calm">
      <div class="h1 title">大阪自由行 2018-01-01</div>
      <button class="button button-clear" ng-click="closeAddLocation()">
        <i class="icon ion-android-close"></i>
      </button>
  </ion-header-bar>
  <ion-content>
      <div class="list">
        <div class="item item-thumbnail-left item-text-wrap" ng-repeat="i in [0,1,2]">
          <img ng-src="img/okinawa.jpg">
          <h2><b>沖繩6天5夜</b></h2>
          <h3>2018/01/01~2018/01/06</h3>
          <p>台北出發祕密景點玩法大公開</p>
          <br/>

        </div>
        </div>
  </ion-content>
  <div class="button-fab calm-bg box-shadow">
      <i class="icon ion-plus" ng-click="openAddDetail()" ></i>
  </div>
</ion-modal-view>
