<ion-modal-view>
	<ion-header-bar class="bar-calm">
		<button class="button button-clear" ng-click="closeConnections()">
			<i class="icon ion-android-close"></i>
		</button>
		<div class="h1 title">交友邀請</div>
	</ion-header-bar>
	<ion-content>
		<div class="list m-n">
			<div class="item item-divider b-none bg-muted">
				交友邀請
			</div>
			<div class="item item-avatar item-icon-right" ng-repeat="list in friend.myInviteList">
				<img src="img/adam.png" random-avatar alt="">
				<div class="font-bold">{{list.name}}</div>
				<div class="text-sm text-muted">{{list.acc}}</div>

				<i class="icon ion-ios-close-outline secondary" ng-click="confirmInvite($index, list.id, 2)"></i>
				<i class="icon ion-ios-checkmark-outline calm" ng-click="confirmInvite($index, list.id, 1)"></i>

			</div>
		</div>

	</ion-content>
</ion-modal-view>
