<span class="popup-product-title">{{data.product.title}}</span>
<span class="popup-product-title">{{data.product.currency.toUpperCase()}}: ${{data.product.price}}</span>
<span class="popup-product-title">NTD: ${{data.product.eprice}}</span>
<div class="separator-line"></div>
<div class="row product-options"> <!--  ng-controller="ProductDetailCtrl" -->
   <div class="col col-75 select-option-wrapper">
    <select ng-model="addList.list_id" ng-change="changeListSelected()" ng-options="type1.list_id as type1.title for type1 in shoppingDetail">

      <!-- <option ng-repeat="i in shoppingDetail" value="{{i.list_id}}">{{i.title}}</option> -->
      <!--
      <option value="1">清單一</option>
      <option value="2">清單二</option>
      <option value="3">清單三</option>
      <option value="4">清單四</option>
      <option value="5">清單五</option>
      -->
    </select>
  </div>
  <div class="col col-25 select-option-wrapper">
    <select ng-model="addList.num" ng-change="changeListSelected()" ng-options="n for n in [1,2,3,4,5,6,7,8,9,10]">

    </select>
  </div>
</div>

<!--
<div class="row item-input-inset">
  <div class="col input-label">
    <label class="item-input-wrapper">
      <input type="search" placeholder="請輸入清單名稱">
    </label>
  </div>
</div>
-->