<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none bar-no-border">
    <h1 class="title light">找回您的密碼</h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeForgotPassword()"></button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list card">
      <label class="item item-input">
        <span class="input-label">電話號碼</span>
        <input type="text" focus-me ng-model="user.phone">
      </label>
    </div>

    <button class="button button-block button-outline button-light" ng-click="forgotPassword()"><b>忘記密碼</b></button>

  </ion-content>
</ion-modal-view>
