<ion-modal-view class="bg-gradient">
  <ion-header-bar class="b-none no-bg bar-no-border">
    <h1 class="title light"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeLogin()"></button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list card">
      <label class="item item-input">
        <span class="input-label">電話號碼</span>
        <input type="text" ng-model="user.phone">
      </label>
      <label class="item item-input">
        <span class="input-label">帳號</span>
        <input type="text" ng-model="user.account">
      </label>
      <label class="item item-input">
      <span class="input-label">密碼</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>

    <button class="button button-block button-outline button-light" ng-click="checkLogin()"><b>登入</b></button>

    <div class="light row">
      <div class="col">
        <button class="button button-clear button-light" ng-click="closeLogin(); openForgotPassword()">忘記密碼</button>
      </div>
      <div class="col text-right">
        <button class="button button-clear button-light" ng-click="closeLogin(); openRegister()">註冊新的帳號</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
