<ion-modal-view class="bg-gradient">
  <ion-header-bar class="b-none no-bg bar-no-border">
    <h1 class="title light">修改密碼</h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeModifyPassword()"></button>
  </ion-header-bar>

  <ion-content class="padding">
    <div class="list card">
      <label class="item item-input">
        <span class="input-label">電話號碼</span>
        <input type="text" disabled ng-model="user.phone">
      </label>
      <label class="item item-input">
        <span class="input-label">驗證碼</span>
        <input type="text" ng-model="user.regcode">
      </label>
      <label class="item item-input">
      <span class="input-label">新密碼</span>
        <input type="password" ng-model="user.password">
      </label>
    </div>

    <button class="button button-block button-outline button-light" ng-click="modifyPassword()"><b>確認</b></button>
    <button class="button button-block button-outline button-light" ng-click="reSendForgotPassword()"><b>重發驗證碼</b></button>

</ion-modal-view>
